body{
margin:0;
font-family:Poppins;
background:#0b0b0f;
color:#fff;
text-align:center;
}

.hero img{
width:100%;
height:100vh;
object-fit:cover;
opacity:.6;
}

.card{
background:#14141c;
margin:30px 15px;
padding:30px;
border-radius:20px;
}

.couple img{
width:120px;
height:120px;
border-radius:50%;
object-fit:cover;
}
